/* Greeting.css */
.greeting-container {
    background-color: #D1E9F6; /* Light blue background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #2C3E50; /* Dark color for headings */
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #2C3E50; /* Dark color for text */
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F1D3CE; /* Light pink for buttons */
    color: white;
    margin-top: 10px;
}

button:hover {
    background-color: #EECAD5; /* Light pink on hover */
}

.logout-button {
    background-color: #F6EACB; /* Light yellow for logout button */
    color: #2C3E50; /* Dark color for text */
}

.logout-button:hover {
    background-color: #EECAD5; /* Light pink on hover */
}

/* Toast container for notifications */
.Toastify__toast-container {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #F6EACB; /* Toast background */
}

.Toastify__toast {
    color: #2C3E50;
}

.Toastify__toast--success {
    background-color: #D1E9F6; /* Success toast background */
}

.Toastify__toast--error {
    background-color: #F1D3CE; /* Error toast background */
}
